@use "style/_variable" as *;

.currentMembers {
  padding: 0 rem(24);
  margin: rem(48) 0;
}

.memberList {
  display: grid;
  padding: 0;
  margin: 0;
  border-top: 1px solid #000;
}

.member {
  display: grid;
  grid-template-columns: rem(36) 1fr;
  gap: rem(12);
  align-items: center;
  padding: rem(12) 0;
  border-bottom: 1px solid #000;
}

.memberIcon {
  @include rect(rem(36));

  display: grid;
  place-content: center;
  font-size: rem(24);
  background-color: currentColor;
  border-radius: 50%;
}

.name {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.jobIcon {
  &.--light {
    color: white;
  }

  &.--dark {
    color: black;
  }
}
