@use "style/_variable" as *;

.article {
  @include tmp_article;
}

// ヘッダー
.header {
  @include tmp_header;
}

.teamName {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

}

.body {
  @include tmp_body;
}

// 操作
.console {
  @include tmp_console;

  justify-content: space-between;
}

.consoleButton {
  @include tmp_consoleButton;
}

.count {
  display: flex;
  align-items: center;
  padding: 0 rem(6);
}

// ボタンアイコン
.button {
  display: flex;
  gap: rem(12);
  align-items: center;
  justify-content: center;
}

.buttonIcon {
  font-size: rem(20);
}

// フッター
.footer {
  @include tmp_footer;
}

.note {
  font-size: rem(14);
  color: $c_sub;
  text-align: center;
}

// ダイアログ
.dialogScreen {
  @include fit;

  position: fixed;
  background: #0006;


  // headless UI Transition
  &.enter {
    transition: opacity $t_enter, transform $t_enter;
  }

  &.leave {
    transition: opacity $t_leave, transform $t_leave;
  }

  &.enterFrom,
  &.leaveTo {
    opacity: 0;
    transform: scale(0.98);
  }

  &.enterTo,
  &.leaveFrom {
    opacity: 1;
    transform: scale(1);
  }
}
