@use "style/_variable" as *;

.article {
  @include tmp_article;
}

// ヘッダー
.header {
  @include tmp_header;
}

.body {
  padding: 0 rem(24);
  margin: rem(24) 0 0;
}

// 操作
.console {
  @include tmp_console;

  justify-content: space-between;
  margin: rem(12) 0 0
}

.consoleButton {
  @include tmp_consoleButton;
}

// リスト
.list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: rem(12) 0 0;
  border-top: 1px solid $c_border;
}

.item {
  margin: 0;
  list-style: none;
  border-bottom: 1px solid $c_border;
}

// 追加フォーム
.addForm {
  margin: rem(12) 0 0;
}

// ボタンアイコン
.button {
  display: flex;
  gap: rem(12);
  align-items: center;
  justify-content: center;
}

.buttonIcon {
  font-size: rem(20);
}

// フッター
.footer {
  @include tmp_footer;
}

// ダイアログ
.dialogScreen {
  @include fit;

  position: fixed;
  background: #0006;


  // headless UI Transition
  &.enter {
    transition: opacity $t_enter, transform $t_enter;
  }

  &.leave {
    transition: opacity $t_leave, transform $t_leave;
  }

  &.enterFrom,
  &.leaveTo {
    opacity: 0;
    transform: scale(0.98);
  }

  &.enterTo,
  &.leaveFrom {
    opacity: 1;
    transform: scale(1);
  }
}
