@use "style/_variable" as *;

.article {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100%;
  padding: rem(48) 0 0;
}

// ヘッダー
.header {
  display: flex;
  flex-direction: column;
  margin: rem(24) rem(24) auto;
}

.body {
  padding: 0 rem(24);
}

// リスト
.list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: rem(24) 0;
  border-top: 1px solid #000;
}

.item {
  padding: rem(6) 0;
  margin: 0;
  list-style: none;
  border-bottom: 1px solid #000;

}

// 追加フォーム
.addForm {
  height: rem(48);
  margin: rem(24) 0;
}

// ボタンアイコン
.button {
  display: flex;
  gap: rem(12);
  align-items: center;
  justify-content: center;
}

.buttonIcon {
  font-size: rem(20);
}

// フッター
.footer {
  display: flex;
  flex-direction: column;
  gap: rem(24);
  margin: auto rem(24) rem(24);
}

// ダイアログ
.dialogScreen {
  @include fit;

  position: fixed;
  background: #0006;


  // headless UI Transition
  &.enter {
    transition: opacity $t_enter, transform $t_enter;
  }

  &.leave {
    transition: opacity $t_leave, transform $t_leave;
  }

  &.enterFrom,
  &.leaveTo {
    opacity: 0;
    transform: scale(0.98);
  }

  &.enterTo,
  &.leaveFrom {
    opacity: 1;
    transform: scale(1);
  }
}
