@use "style/_variable" as *;

.itemButton {
  position: relative;
  display: grid;
  width: 100%;
  padding: rem(6);
  color: black;
  background-color: transparent;
  border: 0 none;
  appearance: none;

  &.current {
    color: white;
    background: tomato;
  }
}
