@use "style/_variable" as *;

.article {
  @include tmp_article;
}


// ヘッダー
.header {
  @include tmp_header;
}

// 本文
.body {
  @include tmp_body;
}

.console {
  @include tmp_console;

  ~ .console {
    margin: rem(12) 0 0;
  }
}

.consoleButton {
  @include tmp_consoleButton;

  white-space: nowrap;
}

.count {
  display: flex;
  gap: rem(12);
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 rem(6);
}
// バッテリー
.totalChargeUnits {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.genEnergyIcon {
  position: relative;
  top: -0.1em;
  font-size: rem(22);
  line-height: 1;
  color: $c_current;
}

.total {
  line-height: 1;
}

.mapArea {
  position: relative;
  margin: rem(12 + 36) 0 0;
}

.message {
  @include fit;

  z-index: 3;
  display: grid;
  place-items: center;
  height: 1.5em;
  margin: auto;
  font-size: rem(30);
  font-weight: bold;
  background: #fff6;
}


// フッター
.footer {
  @include tmp_footer;
}
