@use "style/_variable" as *;


.addListItem {
  display: flex;
  flex-direction: column;
  gap: rem(6);
}

.label {
  @include tmp_label;
}

.form {
  display: flex;
  gap: rem(12);
}

.input {
  @include tmp_input;
}

.button {
  @include tmp_consoleButton;
}
