@use 'style/_variable' as *;

.home {
  display: grid;
  place-items: center;
  align-content: center;
}

.header {
  margin: rem(72) 0 0;
}

.title {
  text-align: center;
}

.icon {
  display: grid;
  place-items: center;
  font-size: rem(60);
  line-height: 1;
}

.body {
  display: grid;
  gap: rem(36);
  align-items: center;
  justify-content: center;
  padding: rem(24);
}

.button {
  margin: 0 auto;
}

.description {
  display: inline-block;
  line-height: 1.8;
}
