@use 'style/_variable' as *;

.home {
  display: grid;
  place-items: center;
  align-content: center;
}

.header {
  text-align: center;
}

.title {
  font-family: 'Russo One', sans-serif;
  font-size: rem(36);
  font-weight: normal;
  text-align: center;
}

.icon {
  margin: 0 auto;
  font-size: rem(60);
  line-height: 1;
}

.body {
  display: grid;
  gap: rem(36);
  align-items: center;
  justify-content: center;
  padding: 0 rem(24);
}

.button {
  margin: 0 auto;
}

.description {
  display: inline-block;
  margin: rem(36) 0 0;
  line-height: 1.8;
}
