@use "style/_variable" as *;

.gaugeUi {
  @include rect(rem(180));

  position: relative;
  font-size: rem(180);
}


.stockItemFrame {
  @include fit;

  color: #ddd;
}

.stockItemValue {
  @include rect(rem(46), rem(105));
  @include fit;

  top: rem(15);
  display: grid;
  align-items: end;
  margin: auto;
  background-color: white;
}

.currentValue {
  background-color: yellowgreen;
}
