@use "style/_variable" as *;

.article {
  @include tmp_article;

  * {
    user-select: none;
  }
}

// ヘッダー
.header {
  @include tmp_header;
}

.body {
  @include tmp_body;
}

// 準備
.ready {
  @include fit;

  display: grid;
  gap: rem(24);
  place-items: center;
  align-content: center;
  padding: 0 rem(24) 0;
}

.result {
  margin-top: rem(-8);
  font-size: rem(18);
}

// 充電中
.chargeUnits {
  position: absolute;
  top: rem(60 + 36 + 24 + 66 + 36);
  right: rem(24);
  left: rem(24);
  margin: auto 0;
}

// タップエリア
.tap {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: grid;
  align-content: center;
  justify-content: center;
  padding: rem(180) 0 rem(44);
  color: $c_dark;
  background: transparent;
  border: none;
  -webkit-tap-highlight-color: transparent;
}

// タイトル
.title {
  display: flex;
  gap: 0.5em;
  align-items: center;
}

.job {
  display: inline-flex;
  gap: 0.2em;
  align-items: center;
  height: 1em;
  color: $c_accent;
  vertical-align: middle;
}

// 結果確認
.hasChallenged {
  display: flex;
  flex-direction: column;
  gap: rem(24);
  padding: 0 rem(24);
  margin: rem(48) 0 0;
}

// チャレンジ中要素
.challengeConsole {
  display: flex;
  gap: rem(24);
  align-items: center;
}

.genEnergy {
  display: flex;
  font-size: rem(24);
}

.genEnergyIcon {
  position: relative;
  top: -0.1em;
  font-size: rem(42);
  line-height: 1;
  color: $c_current;
}

// バッテリーストックリスト
// 操作
.console {
  @include tmp_console;

  gap: rem(6);
}

.consoleButton {
  @include tmp_consoleButton;

  white-space: nowrap;
}

.count {
  display: flex;
  gap: rem(12);
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 rem(6);
}

.batteryIcon {
  position: relative;
  top: -0.1em;
  font-size: rem(22);
  line-height: 1;
  color: $c_current;
}

.totalChargeUnits {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}


.total {
  line-height: 1;
}

// フッター
.footer {
  @include tmp_footer;
}
