@use "style/_variable" as *;

.article {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100%;
  padding: rem(48) 0 0;

  * {
    user-select: none;
  }
}

// ヘッダー
.header {
  display: flex;
  flex-direction: column;
  gap: rem(24);
  margin: rem(24) rem(24) auto;
}

// テキスト
.paragraph {
  margin: rem(24) 0;
}

.body {
  padding: 0 rem(24);
  margin: rem(24) 0;
}

.chargeUnits {
  position: absolute;
  top: rem(240);
  right: rem(24);
  left: rem(24);
  margin: auto 0;
}

// 準備
.ready {
  @include fit;

  display: grid;
  gap: rem(24);
  place-items: center;
  align-content: center;
  padding: 0 rem(24) 0;
}

.console {
  display: flex;
  gap: rem(12);
  align-items: center;
}

.result {
  margin-top: rem(-8);
  font-size: rem(18);
}

// タップエリア
.tap {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: grid;
  align-content: center;
  justify-content: center;
  padding: rem(180) 0 0;
  color: $c_dark;
  background: transparent;
  border: none;
  -webkit-tap-highlight-color: transparent;
}


// タイトル
.title {
  display: flex;
  gap: 0.5em;
  align-items: center;
  font-size: rem(22);
}

.job {
  display: inline-flex;
  gap: 0.2em;
  align-items: center;
  height: 1em;
  color: tomato;
  vertical-align: middle;
}

// 結果確認
.hasChallenged {
  display: flex;
  flex-direction: column;
  gap: rem(24);
  padding: 0 rem(24);
  margin: rem(48) 0 0;
}

// フッター
.footer {
  display: flex;
  flex-direction: column;
  gap: rem(24);
  margin: auto rem(24) rem(24);
}

// ボタンアイコン
.button {
  display: flex;
  gap: rem(12);
  align-items: center;
  justify-content: center;
}

.buttonIcon {
  font-size: rem(20);
}
