@use "style/_variable" as *;

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: rem(60);
  background: $c_lightness;
  border-bottom: 1px solid $c_border;
}

.title {
  display: flex;
  align-items: center;
  padding: 0 rem(6);
  font-family: 'Russo One', sans-serif;
  font-size: rem(22);
  font-weight: normal;
  line-height: 1;
}

.icon {
  position: relative;
  top: -0.05em;
  font-size: rem(30);
  line-height: 1;
}

// メニュー開閉ボタン
.opener {
  @include rect(rem(48));

  position: fixed;
  top: 0;
  right: 0;
  display: grid;
  place-items: center;
  padding: 0;
  margin: rem(6);
  font-size: rem(24);
  color: currentColor;
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
  appearance: none
}

// メニューボタン
.menuButton {
  display: flex;
  gap: rem(12);
  align-items: center;
  padding: rem(6) rem(6);
  color: currentColor;
  background: none;
  border: none;
  outline: none;
  appearance: none;
}

.menuIcon {
  @include rect(rem(24));

  display: grid;
  place-items: center;
  font-size: rem(24);
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
  appearance: none;
}

// パネル
.panel {
    position: fixed;
    top: rem(60);
    right: 0;
    width: 100%;
    padding: rem(12) rem(24);
    background: white;

  // headless UI Transition
  &.enter {
    transition: opacity $t_enter, transform $t_enter;
  }

  &.leave {
    transition: opacity $t_leave, transform $t_leave;
  }

  &.enterFrom,
  &.leaveTo {
    opacity: 0;
    transform: translateY(-.5em);
  }

  &.enterTo,
  &.leaveFrom {
    opacity: 1;
    transform: translateY(0);
  }
}

// 背景
.overlay {
  @include fit;

  position: fixed;
  top: rem(60);
  background: #0006;
}

// ゲームフロー
.gameFlowTitle {
  font-weight: bold;
}

.gameFlow {
  padding: 0;
  margin: 0;
  counter-reset: gameFlowItem;
}

.gameFlowItem {
  padding: rem(12) 0;
  list-style: none;
  counter-increment: gameFlowItem;
}

.gameFlowHeadline {
  &::before {
    margin: 0 rem(12) 0 0;
    content: counter(gameFlowItem);
  }
}
